body{
  background-color: #47B9B3;
  max-height: auto;
  margin: auto;
  height: auto;
  color:#00454E
}

label {
  display: flex;
  align-items: center;
  position: fixed;
}

input{
  vertical-align: middle;
  position: relative;
}

#text{
  vertical-align: middle;
  position: absolute;
}

.header{
text-align: center;
font-size: 40px;
margin: 20px;
}

.virk{
  position: fixed;
  top: 10px;
  left: 10px;
  width: 200px;
  height: 150px;
}

#sideNav a {
  position: absolute;
  left: -149px;
  transition: 0.5s;
  padding: 15px;
  width: 250px;
  text-decoration: none;
  font-size: 30px;
  color: white;
  border-radius: 0 5px 5px 0;
  margin-top: 200px;
}

#sideNav a:hover {
  left: 0;
}

#typografi {

  top: 20px;
  background-color: #04AA6D;
}

#knapper {
  top: 100px;
  background-color: #2196F3;
}

#farver {
  top: 180px;
  background-color: #f44336;
}

#formular {
  top: 260px;
  background-color: black;
}

#ikoner {
  top: 340px;
  background-color: purple;
}

#navigation {
  top: 420px;
  background-color: brown;
}
