body{
  background-color: #CAE4E3;
  max-height: auto;
  max-width: auto;
  color:#00454E;
  font-family: Proxima Nova Alt;
}

label {
text-align: center;
}

.tester{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#text{
  text-align: center;
}

.header{
text-align: center;
font-size: 40px;
margin: 20px;
}

.virk{
  position: fixed;
  top: 10px;
  left: 10px;
  width: 200px;
  height: 150px;
}

#sideNav a {
  position: absolute;
  left: -149px;
  transition: 0.5s;
  padding: 15px;
  width: 250px;
  text-decoration: none;
  font-size: 30px;
  color: white;
  border-radius: 0 5px 5px 0;
  margin-top: 200px;
  background-color: yellow;
  color: black;
}

#sideNav a:hover {
  left: 0;
}

#typografi {
top: 20px;
}

#knapper {
top: 100px;
}

#farver {
top: 180px;
}

#formular {
top: 260px;
}

#ikoner {
top: 340px;
}

#navigation {
top: 420px;
}

.header_container{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#header_tekst{
  text-align: center;
  font-size: 19px;
}

#header_box{
  font-size: 51px;
  text-align: center;
}

.subheader_container{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#subheader_tekst{
  text-align: center;
  font-size: 19px;
}

#subheader_box{
  font-size: 35px;
  text-align: center;
}

.tekst_container{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#tekst_tekst{
  text-align: center;
  font-size: 19px;
}

#tekst_box{
  text-align: center;
  font-size: 19px;
}

.farve_container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 100px 100px;
  grid-gap: 20px;
}

.turquoise
{
  width: 75px;
  height: 75px;
  background-color: #47B9B3;
  color: black;
}

.skintone{
  width: 75px;
  height: 75px;
  background-color: #F2CAC1;
  color: black;
}

.purple{
  width: 75px;
  height: 75px;
  background-color: #444059;
  color: white;
}

.black{
  width: 75px;
  height: 75px;
  background-color: #000000;
  color: white;
}

.lightblue{
  width: 75px;
  height: 75px;
  background-color: #CAE4E3;
  color: black;
}

.white{
  width: 75px;
  height: 75px;
  background-color: #FFFFFF;
  color: black;
}

.midnightblue{
  width: 75px;
  height: 75px;
  background-color: #00454E;
  color: white;
}

.red{
  width: 75px;
  height: 75px;
  background-color: #A81A1A;
  color: white;
}
